body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
}
h4,
h2 {
  font-weight: 400;
}
/* Button */
.btn-website {
  background: #ee9ca7 !important;
  border-color: #ee9ca7 !important;
  color: #fff;
}

.btn-website:hover {
  opacity: 0.9;
}

/* navbar */
nav {
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav a {
  color: black;
}

a:hover {
  color: #fff;
  text-decoration: none;
}
/* App */
.wrapper {
  min-height: 100vh;
}
/* Signin */
.wrapper-auth-image {
  max-height: 100vh;
}
.wrapper-auth-image img {
  width: 100%;
}

/* label-date */
.label-date {
  font-size: 12px;
  display: block;
  margin-top: -15px;
}

@media only screen and (min-width: 1024px) {
  .wrapper-auth-image img {
    min-height: 100vh;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .wrapper-auth-image img {
    height: auto;
    overflow: hidden;
  }
}
