.wrapper-flightCart {
  background-color: #fff;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px 30px 10px 30px;
}

.wrapper-flightCart h2 {
  font-size: 18px;
  color: #0078d2;
}

.wrapper-flightCart i {
  color: #0078d2;
  font-size: 16px;
}

.wrapper-flightCart hr {
  clear: both;
}

.total-price {
  float: right;
  color: #36495a;
  font-size: 18px;
}

.total-price span {
  color: #0078d2;
}

@media only screen and (min-width: 824px) {
  .wrapper-flightCart {
    position: fixed;
    width: 30%;
  }
}

/* color: #36495a;
#0078d2; */
