.card-trip-wrapper {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  color: #36495a;
}

.selected {
  border: 2px solid #0078d2;
}

.card-trip {
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.card-trip div {
  margin-right: 10px;
}

.wrapper-img-card {
  width: 100px;
}

.avatar-large {
  max-width: 100%;
  height: auto;
}

.card-trip-wrapper h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #0078d2;
}
