.card-order {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
}

.card-order-title {
  display: flex;
  justify-content: space-between;
}

.card-order h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #0078d2;
  margin-right: 20px;
}

.card-order h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-right: 20px;
}

.card-order .total {
  margin-top: 10px;
  text-align: end;
}

.card-order .total span {
  color: #0078d2;
}

.card-order h2 span {
  opacity: 0.7;
  color: black;
  font-size: 14px;
}
.title-list-order {
  display: flex;
  justify-content: left;
  justify-items: flex-start;
  flex-wrap: wrap;
}

.title-list-order > div {
  margin-right: 20px;
  opacity: 0.7;
}

.company {
  margin-top: 15px;
  width: 150px;
  height: 30px;
}
