.wrapper-card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-avatar {
  width: 100px;
  height: 100px;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
}

.user-avatar img {
  border-radius: 50%;
  border: 3px solid #0078d2;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

@media only screen and (min-width: 1024px) {
  .wrapper-card {
    width: 60%;
  }
}
