.photo-show {
  width: 100px;
  height: 100px;
  border: 2px solid #ee9ca7;
  border-radius: 5px;
}
.photo-show img {
  max-width: 100%;
  height: auto;
}
.upload {
  padding-left: 15px;
}

.upload-button {
  width: 50px;
  height: 50px;
  background: black; /* fallback for old browsers */
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.upload-button .material-icons {
  margin-top: 5px;
  margin-left: 8px;
  font-size: 35px;
}

.delete-picture {
  position: absolute;
  cursor: pointer;
  margin-left: 96px;
  margin-top: -12px;
  color: #ee9ca7;
}
